.App {
  text-align: center;
  /* background-image: url('./assets/bbr-background.jpg');
  background-size: cover; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  margin-bottom: 2%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.app-main {
  display: flex;
  /* color: white; */
}

.main-nav ul > li {
  list-style-type: none;
}

.main-nav ul {
  display: flex;
}

.main-nav ul li {
  flex: 1;
}

.registration {
  margin-top: 50px;
}

.cartSummary {
  width: 25%;
  background-color: #5E899A;
}

.cartSummary > div {
  display: flex;
}

.cartSummary h5 {
  flex: 1;
}

.cartSummary p {
  flex: 1;
}

.addToCart {
  display: flex;
}

.add-activity {
  /* color: white; */
  background-color: rgba(0, 0, 0, 0.3); 
  /* display: flex; */
}

.registration-titles {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 10px;
}

.registration-titles h4 {
  flex: 1;
}

.activities {
  display: flex;
  background-color: rgba(0, 0, 0, 0.15);
  margin: 10px;
}

.activities * {
  flex: 1;
}

.activities form {
  padding: 5px;
  margin: 5px;
  background-color: black;
  color: white;
}

.processing-complete {
  padding-top: 300px;
}

.my-filter {
  display: flex;
  justify-content: flex-end;
  margin: 20px 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
